.Skills {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Skills h3 {
    list-style-type: none;
  }

  .Skills h2 {
    list-style-type: none;
  }
  .Skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .Skills il {
    list-style-type: none;
  }