.Projects {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

  .Projects a {
    color: #61dafb;
  }

  .Projects p {
    color: #61dafb;
  }
  
  .Projects ul { 
    color: #61dafb;
  }

  .Projects li {
    color: #61dafb;
  }