.Hobbies {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
  
  .Hobbies a {
    color: #61dafb;
  }

  .Hobbies p {
    color: #61dafb;
  }

  .Hobbies ul {
    color: #61dafb;
  }

  .Hobbies li {
    color: #61dafb;
  }