/* profiel.riecker.org/profile/src/components/about/About.css */
.About {
    text-align: center;
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
    color: white;
  }
  
.App-link {
    color: #000000; /* Text color */
    background-color: #ffffff; /* Background color */
    border: none; /* Remove border */
    padding: 10px 20px; /* Padding around the text */
    font-size: 25px; /* Font size */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions for hover effects */
  }
  
  .App-link:hover {
    background-color: #0056b3; /* Darker background color on hover */
    transform: translateY(-2px); /* Slight lift effect on hover */
  }


/* profiel.riecker.org/profile/src/components/about/About.css */

.about-section {
    padding: 20px;
    text-align: center;
  }
  
  .profile-container {
    display: flex;
    align-items: center; /* Vertically centers child elements */
    justify-content: center; /* Horizontally centers child elements */
    max-width: 600px; /* Optional: Limits the width for better readability */
    margin: 0 auto; /* Centers the container within its parent */
  }
  
  .profile-photo {
    margin: 20px;
  }
  
  .bio {
    font-size: 25px; /* Adjust font size as needed */
    line-height: 1.2; /* Improves readability */
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;

  }